@page "/"
@using LexiQuest.WebApp.Client.Services
@using LexiQuest.WebApp.Shared.Services
@inject IApiService ApiService
<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <PageTitle>Home</PageTitle>
            <h1>Привет, Андрей!</h1>
            <p>Здесь будет какая то информация, новости, статистика и т.д.</p>
        </div>
    </div>
</div>

@code {

    private async Task Click()
    {
        await ApiService.HttpClient.PostAsync("api/test", null);
    }

}