@page "/"
@using LexiQuest.WebApp.Shared.Services
@inject IApiService ApiService
<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <PageTitle>Home</PageTitle>
            <h1>Hi!</h1>
            <p>There will be a dashboard on this page.</p>
        </div>
    </div>
</div>

@code {

    private async Task Click()
    {
        await ApiService.HttpClient.PostAsync("api/test", null);
    }

}