<aside class="left-sidebar">
    <div class="brand-logo d-flex align-items-center justify-content-between">
        <h1>Lexi Quest</h1>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
        </div>
        <div class="close-btn d-none d-xl-block bigsidebartoggler cursor-pointer" id="bigSidebarCollapse">
            <i class="ti ti-x fs-8"></i>
        </div>
    </div>
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
            <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Menu</span>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="" aria-expanded="false">
                    <span>
                        <i class="ti ti-home"></i>
                    </span>
                    <span class="hide-menu">Home</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="quizgame" aria-expanded="false">
                    <span>
                        <i class="ti ti-device-gamepad"></i>
                    </span>
                    <span class="hide-menu">Game</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="puzzles" aria-expanded="false">
                    <span>
                        <i class="ti ti-puzzle"></i>
                    </span>
                    <span class="hide-menu">Puzzles</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="about" aria-expanded="false">
                    <span>
                        <i class="ti ti-help"></i>
                    </span>
                    <span class="hide-menu">About</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>